.header{
    background-color: #2268ab;
}

.title-header{
    font-family: "Lucida Console";
    font-size: 30px;
}

/* flex container header */
.flex-container-header{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    padding: 20px;
}

div a {
    color:black;
}

.footer{
    background-color: #2268ab;
    text-align: center;
    font-family: "Lucida Console";
    font-size: 15px;
    padding: 20px;
}
